/* Overall styling */

* {
    margin: 0;
    box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .examGrid {
        grid-template-columns: auto auto;
        width: 100vw;
    }

    .exams{
        font-size: 24px;
        width: 40vw;
        margin: 2vw;
        margin-left: 3vw;
    }

    .exams:hover{
        padding: 2vw;
        margin: 0;
        margin-left: 1vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .examGrid {
        grid-template-columns: auto auto auto auto;
        width: 75vw;
    }

    .exams{
        font-size: 24px;
        width: 70%;
        margin: 1vw;
        margin-left: 3vw;
    }

    .exams:hover{
        font-weight: bold;
        padding: 1vw;
        margin: 0;
        margin-left: 2vw;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

body{
    background-color: rgb(115, 141, 223);
    color: white;
    font-family: Helvetica, "Lucida Console", sans-serif;
}
 
.grid-container{
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}  

.grid-container > div {
    font-size: 16px;
}
  
/* Title */
.title {
    box-sizing: border-box;
    grid-area: header;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.rotaryList{
    grid-area: footer;
}


/* updated exams */
.examGrid{
    grid-area: main;
    display: grid;
    align-content: center;
    padding: 2vw;
}

.exams{
    box-sizing: content-box;
    text-align: center;
    display: grid;
    align-content: center;
    color: white;
    background-color: rgb(115, 141, 223);
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.exams:hover{
    font-weight: bold;
}

.rotary{
    border: 5px solid rgb(115,185,223);
}

.fixed{
    border: 5px solid rgb(115, 223, 135);
}

