/* Overall styling */

* {
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .examGrid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 600px) {
    .examGrid {
        grid-template-columns: auto auto auto auto;
        row-gap: 20px;
    }
}

body{
    background-color: rgb(115, 141, 223);
    color: white;
    font-family: Helvetica, "Lucida Console", sans-serif;
}
 
.grid-container{
    display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
    gap: 10px;
    padding: 10px;
}  

.grid-container > div {
    padding: 10px;
    font-size: 16px;
}
  
  /* Title */
.title {
    grid-area: header;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}


/* updated exams */
.examGrid{
    grid-area: main;
    display: grid;
    align-items: center;
}

.exams{
    box-sizing: content-box;
    text-align: center;
    display: grid;
    align-items: center;
    color: white;
    background-color: rgb(115, 141, 223);
    font-size: 24px;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    margin: 5%;
    height: 80%;
    aspect-ratio: 1 / 1;
}

.exams:hover{
    font-weight: bold;
    padding: 5%;
    margin: 0;
}

.rotary{
    border: 5px solid rgb(115,185,223);
}

.fixed{
    border: 5px solid rgb(115, 223, 135);
}

